<%= form_for([current_user, current_user.bfiles.build], html: {class: 'form-horizontal center', multipart: true}) do |f| %>
  <div class="field form-group">
    <%= f.file_field :datafile %>
  </div>
  <div class="field form-group">
    <%= f.submit "Upload" %>
  </div>
<% end %>